doctype html
html
  head
    title Meetup
    link(rel="stylesheet", href="/styles/css/main.css")
    script(type="text/javascript", src="/js/vendors/jquery-2.1.0.min.js")
    script(type="text/javascript", src="/js/app.js")
  body
    block content
